/* ******************* The Main Menu  ************************* */
.Main_Menu ul {

    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;


}

.Main_Menu {
    background-color: rgb(25, 100, 161);
    color: white;


}

.Hamburger_Menu {
    background-color: rgb(0, 46, 84);
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer; 
}


.Hamburger_Menu::before,
.Hamburger_Menu::after,
.Hamburger_Menu div {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    height: 4px;
    background-color: white;
    border-radius: 4px;
}


.Hamburger_Menu::before {
    top: 6px;
}


.Hamburger_Menu div {
    top: 50%;
    transform: translateY(-50%);
}


.Hamburger_Menu::after {
    bottom: 6px;
}

.dropdown_menu ul {
    background-color: rgb(144, 193, 238);
    width: 200px;
    list-style: none;
    margin: 0;
}

.dropdown_menu ul li:hover {
    background-color: rgb(44, 133, 197);
    color: aliceblue;
}


svg{
    width: 30px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header .icon-cart{
    position: relative;
}

header .icon-cart span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}

.cartTab{
    width: 400px;
    background-color: lightskyblue;
    position: fixed;
    inset: 0 0 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
}

.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button{
    background-color: deepskyblue;
    border: none;
   
    font-weight: 500;
    cursor: pointer;
}

/* ******************** The End ****************************** */

.product{
    display:flex;
    gap: 20px;
    margin-top: 70px;
    margin-left: 200px;

}
.product_info{
    
    padding: 20px;
    
}
.product_info:hover {

    background-color: rgb(225, 249, 230);
}

.product_info > .name {
  font-size: 1.1rem;      
  font-weight: 600;
}

.product_info > .name:hover {
  color: rgb(1, 94, 13);
}

.product_info > .price {
  font-size: 1rem;       
  font-weight: 700;
  color: #222;
}

.product_info > .category,
.product-stock,
.product-sku {
  font-size: 0.85rem;     
  color: #666;
}

.product_info > .description {
  font-size: 0.9rem;      
  color: #444;
  line-height: 1.4;
}
