/* ******************* The Main Menu  ************************* */
.Main_Menu ul {

    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;


}

.Main_Menu {
    background-color: gray;
    color: white;


}

.Hamburger_Menu {

    background-color: rgb(0, 0, 0);
    width: 30px;
    height: 30px;


}

.dropdown_menu ul {
    background-color: lightgray;
    width: 200px;
    list-style: none;
    margin: 0;
}

.dropdown_menu ul li:hover {
    background-color: black;
    color: aliceblue;
}


/* ******************** The End ****************************** */