/* ******************* The Main Menu  ************************* */
.Main_Menu ul {

    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;


}

.Main_Menu {
    background-color: gray;
    color: white;


}

.Hamburger_Menu {

    background-color: rgb(0, 0, 0);
    width: 30px;
    height: 30px;


}

.dropdown_menu ul {
    background-color: lightgray;
    width: 200px;
    list-style: none;
    margin: 0;
}

.dropdown_menu ul li:hover {
    background-color: black;
    color: aliceblue;
}


svg{
    width: 30px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header .icon-cart{
    position: relative;
}

header .icon-cart span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}

.cartTab{
    width: 400px;
    background-color: lightskyblue;
    position: fixed;
    inset: 0 0 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
}

.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button{
    background-color: deepskyblue;
    border: none;
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: 500;
    cursor: pointer;
}

/* ******************** The End ****************************** */